<br>
<mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div>
        <button mat-button>
          <span>P-Product Copyright @2021</span>
        </button>
      </div>
      <div style="float: right;">
        <button mat-icon-button>
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  